#
# SINGLE MEIOSIS PIPELINE USER CONFIG FILE 
#

# Authors: Joseph Tran <Joseph.Tran@versailles.inra.fr>

# Date: 2013-10-11

[paths]
GENOMES_BASE_PATH=/data/SEQUENCES/GENOME
INDEXES_BASE_PATH=/data/SEQUENCES/INDEX
BWA_INDEXES=bwa
#SAMTOOLS_INDEXES=samtools
# TODO: Add all dependencies paths here

[genome_alias]
# parent 1
papa=Ath-Col0-Vers-WG
papa_short=Col
# parent 2
mama=Ath-Ler0-Vers-WG
mama_short=Ler
# parents 1 & 2
papamama=Ath-Coller0-Vers-WG
papamama_short=coller0

[tetrad_samples]
# F1
f1_sample_name_alias=F1
f1_sample_seqfile_R1=data/F1/trimmed_uniq_7082TAAXX_003_s_7_1_sequence_sampled_10000.fastq
f1_sample_seqfile_R2=data/F1/trimmed_uniq_7082TAAXX_003_s_7_2_sequence_sampled_10000.fastq
# M1
m1_sample_name_alias=M1
m1_sample_seqfile_R1=data/M1/tetrade1_M1_s1_sampled_10000.fastq
m1_sample_seqfile_R2=data/M1/tetrade1_M1_s2_sampled_10000.fastq
# M2
m2_sample_name_alias=M2
m2_sample_seqfile_R1=data/M2/tetrade1_M2_s1_sampled_10000.fastq
m2_sample_seqfile_R2=data/M2/tetrade1_M2_s2_sampled_10000.fastq
# M3
m3_sample_name_alias=M3
m3_sample_seqfile_R1=data/M3/tetrade1_M3_s1_sampled_10000.fastq
m3_sample_seqfile_R2=data/M3/tetrade1_M3_s2_sampled_10000.fastq
# M4
m4_sample_name_alias=M4
m4_sample_seqfile_R1=data/M4/tetrade1_M4_s1_sampled_10000.fastq
m4_sample_seqfile_R2=data/M4/tetrade1_M4_s2_sampled_10000.fastq

[bwa_aln]
k=2
t=2
R=4
n=0
o=3
l=33

[bwa_sampe]
a=500
n=0
N=0

[filtering]
MAPQ_min=13

[samtools_view]

[samtools_mpileup]
Q=20
u=TRUE
b=TRUE
D=TRUE

[bcftools_view]
I=TRUE
G=TRUE
N=TRUE


