#
# SINGLE MEIOSIS PIPELINE
#

# Authors: Delphine Charif <Delphine.Charif@versailles.inra.fr>, Joseph Tran <Joseph.Tran@versailles.inra.fr>

# Date: 2013-10-11

[paths]
GENOMES_BASE_PATH=/data/SEQUENCES/GENOME
INDEXES_BASE_PATH=/data/SEQUENCES/INDEX
BWA_INDEXES=$INDEXES_BASE_PATH/bwa
SAMTOOLS_INDEXES=$INDEXES_BASE_PATH/samtools
# TODO: Add all dependencies paths here

[genome_alias]
# parent 1
ga1=
# parent 2
ga2=
# parents 1 & 2
ga3=

[bwa_aln]
k=2
t=2
R=4
n=0
o=3
l=33

[bwa_sampe]
a=500
n=2
o=4

[samtools_view]

[samtools_mpileup]




