#
# SINGLE MEIOSIS PIPELINE USER CONFIG FILE 
#

# Authors: Joseph Tran <Joseph.Tran@versailles.inra.fr>

# Date: 2013-10-11

[paths]
GENOMES_BASE_PATH=/data/SEQUENCES/GENOME
INDEXES_BASE_PATH=/data/SEQUENCES/INDEX
BWA_INDEXES=bwa
#SAMTOOLS_INDEXES=samtools
# TODO: Add all dependencies paths here

[genome_alias]
# parent 1
papa=Ath-Col0-Vers-WG
# parent 2
mama=Ath-Ler0-Vers-WG
# parents 1 & 2
papamama=Ath-Coller0-Vers-WG

[tetrad_samples]
# F1
f1_sample_name_alias=F1
f1_sample_seqfile_R1=
f1_sample_seqfile_R2=
# M1
m1_sample_nam_aliase=M1
m1_sample_seqfile_R1=
m1_sample_seqfile_R2=
# M2
m2_sample_name_alias=M2
m2_sample_seqfile_R1=
m2_sample_seqfile_R2=
# M3
m3_sample_name_alias=M3
m3_sample_seqfile_R1=
m3_sample_seqfile_R2=
# M4
m4_sample_name_alias=M4
m4_sample_seqfile_R1=
m4_sample_seqfile_R2=

[bwa_aln]
k=2
t=2
R=4
n=0
o=3
l=33

[bwa_sampe]
a=500
n=2
o=4

[samtools_view]

[samtools_mpileup]




